@charset "utf-8";

@font-face{
    font-family: fonte1;
    src: url(./fontes/The\ Amazing\ Spider-Man.ttf);
}

body{
    font-family: fonte1;
    background: #ecc087;
    
}

header{
    color:#0b2618;
}


footer{
    background-color:#ecc087;
    color: rgb(3, 36, 15);
    text-align: center;
    padding-bottom: 0.5px;
    justify-content: center;
    padding-top: 2px;
    width: 100%;
    
    }

h2{
    text-align: center;
    /* margin-right: 10px; */
    
}


.colunas{
    position: relative;
    height: 700px;
    margin-left: 25px;
}

.corpo{
    /* position: relative; */
    margin-left: 106px;
}



.col{
    float: left;
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    
}

.price-box{
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid rgb(0, 58, 41);
    margin: 0;
    padding: 0;
}

.price-box .header{
    background: #0b2618;
    color: #fff;
    font-size: 25px;
}

.price-box .header.header-green{
    background: #3b7457;
}

.price-box li{

    padding: 20px;
    border-bottom: 20px solid #eee;
    text-align: center;
}

.btn{
    background-color: #185434e0;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}

@media (max-width: 760px){
    .col{
        width: 100%;
    }
}
